<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deal Notes</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<h1>Deal Notes</h1>

<form th:action="@{/deals/notes/save}" method="post">
  <input type="hidden" th:field="*{deal.id}"/>
  <textarea th:field="*{content}" rows="4" cols="50"></textarea>
  <button type="submit">Save Notes</button>
</form>

</body>
</html>